# Exclude Secrets.plist
Clima/Secrets.plist

# Xcode specific
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate

# Build artifacts
build/
*.app
*.ipa
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
